{% extends "layout.html" %}

{% block body %}
<p>
    {{salutation}}
</p>

{% if errors %}
<ul class="form-errors">
    {% for error in errors %}
        <li>
            {{ error }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    <p>
    <div>
    <label for="name">Name</label>
    <input name="name_listing" type="text"/>
    </div>
    </p>


    <p>
    <div>
    <label for="email">e-mail</label>
    <input name="email" type="text"/>
    </div>
    </p>


    <p>
    <div>
    <label for="school">School</label>
    <input name="school" type="text"/>
    </div>
    </p>


    <p>
    <div>
    <label for="class_">Class</label>
    <select name="class">
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>NA</option>
    </select>
    </div>
    </p>


    <p>
    <div>
    <label for="phone">Phone number</label>
    <input name="phone" type="tel"/>
    </div>
    </p>



    <p>
    <div>
    <label for="object">What object do you want to list?</label>
    <input name="object" type="text" maxlength="50"/>
    </div>
    </p>


    <p>
    <div>
        <label for="price">Price per day</label>
        <span class="input-group-addon">$</span>
        <input type="number" name="price" />
    </div>
    </p>


    <p>
    <div>
    <label for="image">Image</label>
    <input name="pic" type="text"/>
    </div>
    </p>

    <p>
    <div>
    <button type="submit" name="submit" class="btn btn-info">Submit</button>
    </div>
    </p>

</form>

{% endblock %}

<!-- {% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %} -->
