{% extends "layout.html" %}

{% block body %}
<!--<p>-->
<!--    {{salutation}}-->
<!--</p>-->
<div class="homepage">
    <p class="lead"><strong>Join Y Circular Community!</strong></p>
    <p>We have made it so easy for you! Rent the things you need Share your closet</p>
    <p class="lead"><strong>Our idea</strong></p>
    <p>We want to create a virtual library of students' closets. Instead of asking around if
        someone has a drill, you can search in our platform and rent one from your classmate.
        We believe the peer-to- peer rental platform will enable us to share our things more efficiently.</p>
    <p class="lead"><strong>Sustainability Values</strong></p>
    <p>Yale students are environmentally conscious. They want to make responsible purchase decisions.
        Y Circular offers a sustainable solution, without asking students to abdicate the perks of convenience.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RFhwOnyyhSE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}