{% extends "layout.html" %}

{% block body %}

<div class="container">
    <p><h1 id="object">{{ object }}</h1></p>
    <p><div>Price: <span class="list-group-item-text" id="price">{{ price }}</span></div></p>
    <p><div>First available on: <span id="firstAvail">{{ firstAvail }}</span></div></p>
    <p><div>Available until: <span id="lastAvail">{{ lastAvail }}</span></div></p>
    <p><div><img src="{{ image }}" alt="item image" id="image" /></div></p>
    <p><div>
        <form action="/listing/{{id}}" method="post">
            <a class="navbar-link btn btn-info navbar-buttons" href="/rentform/{{ id }}">Rent this Item</a>
            <!--<button type="submit" class="btn btn-info" name="rent">Rent this Item</button>-->
        </form>
    </div></p>
    <p id="hidden">{{ id }}</p>
</div>
{% endblock %}

<!-- {% block late_loading_js %}
<script src="/static/js/catgifs.js"></script>
{% endblock %} -->
