body {
    max-width: 800px;
    margin: 2rem auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #3a95cf;
    color: white;
}

footer {
    background-color: #3a95cf;
    color: white;
}

#logo {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 160px;
}

#chosen-cat {
    display: block;
}

/*remove list bullets*/
li {
    list-style-type: none;
}

/*https://stackoverflow.com/questions/49205468/how-to-customize-list-group-item-colors-in-bootstrap*/
.list-group-item {
    color: #3a95cf;
    line-height: .01em;
}

.list-group-item-heading {
    font-size: 25px;
}

.list-group-item-text {
    font-size: 16px;
}

#relieved-nightingale-name {
    color: magenta;
}

#vast-badger-headshot {
    width: auto;
    height: auto;
    max-width: 260px;
    max-height: 260px;
}

.homepage {
    text-align: center;
}

.yblue {
    color: #3a95cf;
    line-height: .01em;
    text-align: center;
}